.carousel-inner > .carousel-item {

	min-height: 600px;
	background-size: cover;
	border-radius: 20px;
	background-position: center;
}

.carousel-control-prev, .carousel-control-next {
	opacity: 0.9;
}

.vs-card-content {
	display: flex;
	justify-content: center;
}

.sidebar {
	position: fixed;
	z-index: 2;
}

#carousel-homepage {
	padding-top: 5.5em;
}

@media all and (max-width: 992px) {
	.carousel-inner > .carousel-item {

		min-height: 500px;
	}
}

@media all and (max-width: 768px) {
	.carousel-inner > .carousel-item {

		min-height: 400px;
	}
}

@media all and (max-width: 575px) {
	.carousel-inner > .carousel-item {

		min-height: 300px;
	}
}