.carousel-inner > .carousel-item {

	min-height: 600px;
	background-size: cover;
	border-radius: 16px;
	background-position: center;
}

.carousel-control-prev, .carousel-control-next {
	opacity: 0.9;
}

@media all and (max-width: 992px) {
	.carousel-inner > .carousel-item {

		min-height: 500px;
	}
}

@media all and (max-width: 768px) {
	.carousel-inner > .carousel-item {

		min-height: 400px;
	}
}

@media all and (max-width: 575px) {
	.carousel-inner > .carousel-item {

		min-height: 300px;
	}
}